In [1]:
import pandas as pd

In [6]:
df = pd.read_table('../2017eve/2017BOS.EVA')

In [7]:
df.head()

        id,BOS201704030
0             version,2
1      info,visteam,PIT
2     info,hometeam,BOS
3       info,site,BOS07
4  info,date,2017/04/03

In [8]:
df

            id,BOS201704030
0                 version,2
1          info,visteam,PIT
2         info,hometeam,BOS
3           info,site,BOS07
4      info,date,2017/04/03
...                     ...
13150    data,er,scotr001,0
13151    data,er,workb001,2
13152    data,er,abadf001,2
13153    data,er,barnm001,0
13154    data,er,kellj001,0

[13155 rows x 1 columns]