# Data Collection

In [21]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [36]:
url = 'https://baseballsavant.mlb.com/savant-player/jose-altuve-514888?stats=gamelogs-r-hitting-mlb&season=2021'

In [ ]:
https://baseballsavant.mlb.com/savant-player/enrique-hernandez-571771?stats=gamelogs-r-hitting-mlb&season=2021

In [22]:
player_id = pd.read_csv('../SFBB Player ID Map - PLAYERIDMAP.csv')

In [23]:
player_id.head()

,IDPLAYER,PLAYERNAME,BIRTHDATE,FIRSTNAME,LASTNAME,TEAM,LG,POS,IDFANGRAPHS,FANGRAPHSNAME,...,DRAFTKINGSNAME,OTTONEUID,HQID,RAZZBALLNAME,FANTRAXID,FANTRAXNAME,ROTOWIRENAME,ALLPOS,NFBCLASTFIRST,ACTIVE
0,aardsda01,David Aardsma,12/27/1981,David,Aardsma,NaN,NaN,P,1902,David Aardsma,...,David Aardsma,4362.0,NaN,David Aardsma,NaN,NaN,David Aardsma,P,"Aardsma, David",N
1,abadfe01,Fernando Abad,12/17/1985,Fernando,Abad,BAL,AL,P,4994,Fernando Abad,...,Fernando Abad,7372.0,3556.0,Fernando Abad,*01viz*,Fernando Abad,Fernando Abad,P,"Abad, Fernando",Y
2,abbotco01,Cory Abbott,9/20/1995,Cory,Abbott,CHC,NL,P,sa3005305,Cory Abbott,...,NaN,NaN,6286.0,Cory Abbott,*04ef6*,Cory Abbott,Cory Abbott,P,"Abbott, Cory",Y
3,abramcj01,CJ Abrams,10/3/2000,CJ,Abrams,SD,NL,SS,sa3010152,CJ Abrams,...,NaN,NaN,NaN,CJ Abrams,*04qk8*,CJ Abrams,CJ Abrams,SS,"Abrams, CJ",Y
4,abreual01,Albert Abreu,9/26/1995,Albert,Abreu,NYY,AL,P,17485,Albert Abreu,...,NaN,NaN,5762.0,Albert Abreu,*03xy4*,Albert Abreu,Albert Abreu,P,"Abreu, Albert",Y

In [28]:
mlb_id = player_id[['MLBID', 'PLAYERNAME', 'ACTIVE']]

In [32]:
active = mlb_id[mlb_id['ACTIVE'] == 'Y']

         MLBID       PLAYERNAME ACTIVE
1     472551.0    Fernando Abad      Y
2     676265.0      Cory Abbott      Y
3     682928.0        CJ Abrams      Y
4     656061.0     Albert Abreu      Y
6     650556.0      Bryan Abreu      Y
...        ...              ...    ...
2677  656537.0       Derek Hill      Y
2678  657757.0     Gavin Sheets      Y
2679  642201.0        Eli White      Y
2680  656731.0     Tylor Megill      Y
2681  643524.0  Frank Schwindel      Y

[2027 rows x 3 columns]

In [ ]:
#def get_stats (mlb_id, first, last):

In [37]:
res = requests.get(url)

res.status_code

200

In [38]:
soup = BeautifulSoup(res.content, 'lxml')

In [41]:
table = soup.find('table', {'class':'tablesorter tablesorter-default tablesorter4faf1e706f4d7'})

In [42]:
people = []

for row in table.find('tbody').find_all('tr'):
    person = {}
    person['name'] = row.find('a').text.strip()
    person['email'] = row.find('a').attrs['href'].replace('mailto:', "")
    person['role'] = row.find('td').text.strip()
    
    people.append(person)
    
pd.DataFrame(people)

In [ ]:
{}'id': 'mlb_gamelogs'}