In [ ]:
 # Instantiate MSE values at 0.
        rmse_pa = 0
        rmse_ab = 0
        rmse_r = 0
        rmse_h = 0
        rmse_2b = 0
        rmse_3b = 0
        rmse_hr = 0
        rmse_rbi = 0
        rmse_bb = 0
        rmse_so = 0
        rmse_avg = 0
        rmse_obp = 0
        rmse_slg = 0
        rmse_ops = 0

        # Loop through each forecasted time point.
        for time in range(len(test)):

            # Calculate (expected - observed) ** 2 and add to MSE.
            rmse_pa+= (forecast[time][0] - test.values[time][0]) ** 2
            rmse_ab+= (forecast[time][1] - test.values[time][1]) ** 2
            rmse_r+= (forecast[time][2] - test.values[time][2]) ** 2
            rmse_h+= (forecast[time][2] - test.values[time][3]) ** 2
            rmse_2b+= (forecast[time][2] - test.values[time][4]) ** 2
            rmse_3b+= (forecast[time][2] - test.values[time][5]) ** 2
            rmse_hr+= (forecast[time][2] - test.values[time][6]) ** 2
            rmse_rbi+= (forecast[time][2] - test.values[time][7]) ** 2
            rmse_bb+= (forecast[time][2] - test.values[time][8]) ** 2
            rmse_so+= (forecast[time][2] - test.values[time][9]) ** 2
            rmse_avg+= (forecast[time][2] - test.values[time][10]) ** 2
            rmse_obp+= (forecast[time][2] - test.values[time][11]) ** 2
            rmse_slg+= (forecast[time][2] - test.values[time][12]) ** 2
            rmse_ops+= (forecast[time][2] - test.values[time][13]) ** 2


        # Divide SSE to get MSE.

        rmse_pa /= len(test)
        rmse_ab /= len(test)
        rmse_r /= len(test)
        rmse_h /= len(test)
        rmse_2b /= len(test)
        rmse_3b /= len(test)
        rmse_hr /= len(test)
        rmse_rbi /= len(test)
        rmse_bb /= len(test)
        rmse_so /= len(test)
        rmse_avg /= len(test)
        rmse_obp /= len(test)
        rmse_slg /= len(test)
        rmse_ops /= len(test)

        #square root to rmse

        np.sqrt(rmse_pa) 
        np.sqrt(rmse_ab)
        np.sqrt(rmse_r)
        np.sqrt(rmse_h)
        np.sqrt(rmse_2b)
        np.sqrt(rmse_3b)
        np.sqrt(rmse_hr)
        np.sqrt(rmse_rbi)
        np.sqrt(rmse_bb)
        np.sqrt(rmse_so)
        np.sqrt(rmse_avg)
        np.sqrt(rmse_obp)
        np.sqrt(rmse_slg)
        np.sqrt(rmse_ops)

        # Generate output. 
        print(f'{first} {last}:')
        print(f'The test RMSE on the pa is: {round(rmse_pa, 4)}')
        print(f'The test RMSE on the ab is: {round(rmse_ab, 4)}')
        print(f'The test RMSE on the r is: {round(rmse_r, 4)}')
        print(f'The test RMSE on the h is: {round(rmse_h, 4)}')
        print(f'The test RMSE on the 2b is: {round(rmse_2b, 4)}')
        print(f'The test RMSE on the 3b is: {round(rmse_3b, 4)}')
        print(f'The test RMSE on the hr is: {round(rmse_hr, 4)}')
        print(f'The test RMSE on the rbi is: {round(rmse_rbi, 4)}')
        print(f'The test RMSE on the bb is: {round(rmse_bb, 4)}')
        print(f'The test RMSE on the so is: {round(rmse_so, 4)}')
        print(f'The test RMSE on the avg is: {round(rmse_avg, 4)}')
        print(f'The test RMSE on the obp is: {round(rmse_obp, 4)}')
        print(f'The test RMSE on the slg is: {round(rmse_slg, 4)}')
        print(f'The test RMSE on the ops is: {round(rmse_ops, 4)}')
        print()

In [1]:
import pickle
import numpy as np
import pandas as pd

In [16]:
stats = pickle.load(open('../pickles/forecast.pkl', 'rb'))

In [17]:
print(stats)

                name   AB    R    H   2B   3B   HR  RBI   BB   SO    AVG  \
0         Jose Abreu  4.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.264
1       Willy Adames  3.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.240
2     Ehire Adrianza  2.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.233
3      Jesus Aguilar  3.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.261
4         Nick Ahmed  3.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.226
..               ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
388      Jake Meyers  3.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.293
389       Derek Hill  4.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  2.0  0.273
390     Gavin Sheets  3.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.241
391        Eli White  3.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.200
392  Frank Schwindel  4.0  1.0  2.0  0.0  0.0  0.0  1.0  0.0  1.0  0.340

       OBP    SLG    OPS
0    0.326  0.485  0.812
1    0.303  0.391  0.694
2    0.300  0.363  0.663
3    0.341  0.464  0.805
4    0.282  0.362  0.644
..     ...    ...    ...
388  0.334  0.539  0.873
389  0.325  0.411  0.736
390  0.315  0.542  0.857
391  0.275  0.312  0.586
392  0.389  0.610  0.999

[393 rows x 14 columns]

In [18]:
stats['name']

0           Jose Abreu
1         Willy Adames
2       Ehire Adrianza
3        Jesus Aguilar
4           Nick Ahmed
            ...
388        Jake Meyers
389         Derek Hill
390       Gavin Sheets
391          Eli White
392    Frank Schwindel
Name: name, Length: 393, dtype: object

In [19]:
info = stats[stats['name'] == 'Jose Abreu']

In [20]:
info = info.drop(columns = ['name'])

In [21]:
info

    AB    R    H   2B   3B   HR  RBI   BB   SO    AVG    OBP    SLG    OPS
0  4.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.264  0.326  0.485  0.812

In [24]:
salary = pickle.load(open('../pickles/pred_salary.pkl', 'rb'))

In [25]:
salary

                       salary
name
Jose Abreu       7.670945e+06
Willy Adames     5.668835e+06
Ehire Adrianza   4.155065e+06
Jesus Aguilar    6.232517e+06
Nick Ahmed       5.053636e+06
...                       ...
Jake Meyers      4.746970e+06
Derek Hill       5.001817e+06
Gavin Sheets     4.149427e+06
Eli White        3.924376e+06
Frank Schwindel  4.906816e+06

[393 rows x 1 columns]

In [35]:
info = salary[salary.index=='Jose Abreu']

In [42]:
round(info['salary'][0], 2)

7670945.04

                  salary
name
Jose Abreu  7.670945e+06

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [43]:
stats = pickle.load(open('../pickles/forecast.pkl', 'rb'))

In [52]:
info = stats[stats['name'] == 'Mookie Betts']

In [53]:
info.values

array([['Mookie Betts', 280.0, 70.0, 70.0, 0.0, 0.0, 0.0, 70.0, 70.0,
        69.0, 0.297, 0.396, 0.537, 0.933]], dtype=object)